/* Generics */

body{
    font-family: sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

/* Utils */

/* Header */

header{
    height: 80px;
    background-color: #f8f9fa;
}

#logo-small{
    display: inline-block;
    max-width: 50px;
    margin-left: 10px;
}

header li{
    margin: 0 10px;
}

/* Main Content */

.main-content{
    height: calc(100vh - 80px);
}

/* Sidebar */

.sidebar{
    flex-basis: 80px;
    flex-shrink: 0;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

.sidebar a i{
    margin-right: 10px;
}

a > p{
    margin: 0 auto;
    font-weight: bold;
    display: none;
}

/* Main */

main{
    flex-grow: 1;
    overflow: auto;
    background-color: #f8f9fa;
}

/* Jumbotron */

.jumbotron{
    background-color: #1b72e8;
}

.jumbotron .badge{
    background-color: rgba(0, 0, 0, 0.3);
}

/* OFFCANVAS */

.offcanvas-end{
    width: 100%;
}

.form-group{
    margin-bottom: 10px;
}

label{
    font-size: 14px;
    margin-bottom: 5px;
}

@media screen and (min-width: 992px) {
    .offcanvas-end{
      width: 50%;
    }
}

/* Section Card */

/* TO DO */

.list-group-item input{
    position: relative;
    top: 2px;
}

/* FAQ */

.accordion-button{
    font-size: 14px;
}

/* Graphic */

img{
    max-width: 100%;
}

.card{
    font-size: 14px;
}

u{
    font-size: 12px;
}